
// Klasse hoofdkleuren
$color-red: rgb( 255, 80, 57 );
$color-orange: rgb( 255, 125, 61 );
$color-yellow: rgb( 255, 212, 0 );
$color-green: rgb( 70, 212, 176 ); // #46d4b0;
$color-light-blue: rgb( 105, 191, 255 );
$color-blue: rgb( 74, 145, 245 );
$color-aubergine: rgb( 44, 19, 96 );
$color-purple: rgb( 171, 105, 191 );
$color-pink: rgb( 255, 168, 214 );

// Klasse pastelkleuren
$color-pastel-yellow: rgb( 255, 238, 153 );
$color-pastel-green: rgb( 194, 234, 224 );
$color-pastel-blue: rgb( 212, 239, 255 );
$color-pastel-purple: rgb( 242, 222, 252 );
$color-pastel-pink: rgb( 255, 220, 239 );
$color-light-grey: rgb( 230, 230, 230 );
$color-dark-grey: rgb( 112, 112, 112 );